@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 13, 13;
  --background-end-rgb: 13, 13, 13;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0D0D0D;
  overflow-x: hidden;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Hollow Text Effect */
.stroke-text {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.stroke-text:hover {
  color: #00FFC5;
  -webkit-text-stroke: 0px;
}